/* HeroSection.css */
.hero-section {
    position: relative; 
    background-image: url("../../public/assets/herobackground.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    animation: slideAnimation 10s infinite alternate;
  }
  
  .hero-content {
    opacity: 0;
  }
  
  .fadeInRight {
    animation: fadeInRightAnimation 1.5s ease-out forwards;
  }
  
  .logo-container {
    position: absolute; 
    bottom: 10px;
    right: 10px; 
  }
  
  .logo {
    width: 150px;
    height: auto;
  }

  
  @keyframes fadeInRightAnimation {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .hero-content {
    text-align: left;
    margin-left: 10%;
  }
  
  .feeder {
    color: #0a8b74;
  }
  
  .btn {
    width: 100px; /* Adjust the width as needed */
  }
  