.mottob {
    background-color: #255e5d;

}

.cat {
    width: 50%;
    transform: scaleX(-1);

}
.social{
    width: 40px;
    margin: 10px;
    margin-top: 70px;
}

.catquote{
    color : #40826D;
    font-weight: bold;
    font-size: larger;
}

.catfoot{
    color : #f6f6f6;
    font-weight: normal;
    font-size:medium;
    
}

