.pet-feeder-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .pet-image {
    max-width: 70%;
    height: auto;
  }

  .aboutb{
    background-color:#8ba575 ;
  }

  .badgeImg {
    width: 65%;
    height: 90%;
  }
  .textcontent{
    margin-bottom: 120px;
    color:white ;
    
    font-family: 'Poppins', sans-serif;
  }
  .texttitle{
    margin-bottom: 120px;
    color:white ;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  


 
