.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  
  .info-boxes-img-container {
    margin-bottom: 12px;
  }
  
 

  .main-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }

  body, html {
    height: 100%;
  }