.MainContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    
  }
  
  .Feeder-column{
    width: 70vm;
  }

  .Pet-column{
    width:30vm;
   
  }

  .buttonsinMain {
    z-index: 2;
    position: absolute;
   
  }

