
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.petfeeder-section-wrapper {
  overflow:auto;
}

.titlepet {
  margin-top: 100px;
  font-size: 24px;
  padding-left: 50px;
  color: #333; 
}

.subtitlepet {
  margin-top: 40px;
  font-size: 15px;
  padding-left: 50px;
  color: #AAC88F; 
}

.sometext {
  margin-top: 40px;
  font-size: 16px;
  max-width: 680px;
  padding-left: 50px;
  color: #777; 
}


.petfeeder-section-top p {
  text-align: center;
  max-width: 600px !important;
}

.petfeeder-section-top h1 {
  max-width: 700px !important;
}

.petfeeder-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petfeeder-section-info {
  width: 290px;
  min-height: 350px;
  background-color: #d9e9cb;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.petfeeder-section-info h2 {
  margin: 1rem 0rem;
}

.petfeeder-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}


.petfeeder-section-info .info-button {
  margin-top: 1rem;
  border-radius: 8px; 
  padding: 8px 16px; 
  background-color: #AAC88F;
  color: #505050;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.petfeeder-section-info .info-button:hover {
  background-color: #8EAF71; 
}

.petfeeder-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin-top: 20px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 27px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}

.petfeeder-section-info {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: auto;
  align-self: flex-end;
}

.info-boxes-img-container {
  margin-bottom: 12px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.top-button {
  margin-left: 10px;
  border-radius: 8px; 
  padding: 8px 16px; 
  background-color: #AAC88F;
  color: #505050;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.top-button:hover {
  background-color: #8EAF71; 
}

.bottom-button {
  background-color: #06350D;
  color: white;
  border-radius: 7px;
  height: 35px;
  width: 125px;
  border: none;
  
}

.dogphoto{
  width: 500px;
  margin-top: 50px;
  margin-left: 150px;

}

.right-button {
  background-color: #06350D;
  color: white;
  border-radius: 7px;
  height: 33px;
  width: 25px;
  border: none;
  
}

.subtitle-container {
  display: flex;
  align-items: center;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: -17px;
  margin-right: 8px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}