.dashchartt {
    background-color: #06350D;
    padding: 20px;
    border-radius: 10px;
    max-width: 1555px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chartTitle {
    color: #ffff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}