@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}



body {
    min-height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    background: hsla(159, 35%, 45%, 1);

    background: linear-gradient(180deg, hsla(159, 35%, 45%, 1) 30%, hsla(176, 68%, 12%, 1) 100%);
    
    background: -moz-linear-gradient(180deg, hsla(159, 35%, 45%, 1) 30%, hsla(176, 68%, 12%, 1) 100%);
    
    background: -webkit-linear-gradient(180deg, hsla(159, 35%, 45%, 1) 30%, hsla(176, 68%, 12%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A9B7F", endColorstr="#0A3431", GradientType=1 );
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}


section {
    width: 100%;
    min-width: 600px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 2rem;
    background-color: #fff;
 }
 


.title{
    font-size: 30px;
    font-weight:bold;
    color: rgb(5, 36, 10);
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


input[type="text"],
input[type="password"],
button,
textarea {
  
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

.btn{
  padding: 0.5rem;
  margin-top: 20px;
  
  ;
  
}
/* CSS */
.input-text {
    font-size: 6px; /* Adjust the font size to your preference */
}

.bnt:hover{
    background-color: aqua;
}

.btn:enabled{
    background-color:  rgb(5, 36, 10);
    color: white;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background:  rgba(38, 39, 38, 0.185);
    color: #2a2a2a;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: rgb(25, 97, 25);
    margin-left: 0.25rem;
}

.invalid {
    color: rgb(165, 41, 41);
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line, .pp {
    display: inline-block;
    font-size: 15px;
    
}

.link{
    text-decoration: none;
    color: rgb(94, 148, 43)
}

  .form-label {
    text-align: left;
    font-size: 15px;
   
}