.petImg{
    margin: 5%;
    width: 60%;
}



#name{
    width:400px;
    height: 40px;
}
#birthdate{
    width:400px;
    height: 40px;
}
#weight{
    width:400px;
    height: 40px;
}
#breed{
    width:400px;
    height: 40px;
}

.marginthing{
    margin-left: 110px;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
}

.form-control::placeholder {
    font-size: 14px; /* Adjust the font size as needed */
}

.createPetBox{
    background-color: #AAC88F;
}
button.btncreate{
    background-color: #06350D;
    color:#F6f6f6;
    outline: none;
}
button.btncreate:hover {
    background-color: #095715; /* Your desired hover color */
    color: #fff; /* Text color on hover */
    /* Add any additional styles you need */
}

.bbb{
    background-color:#06350de0;
}
